{% extends 'base.html' %}



{% block title %}
    Detalles de Alquiler
{% endblock %}

{% block rentals %}
<li class="nav-item active">
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-5 text-right">
            {% if rental_image.url != '' %}
                <img src="{{ rental_image.url }}" width="350" height="350">
            {% else %}
                <img src="#" width="350" height="350">
            {% endif %}
                
            </div>
            <div class="col-lg-7 ml-n3 text-dark" style="background-color: #d7d8da;">
                <h1 class="mt-3 pl-3">{{title}}</h1>
                <h5><i class="fa-solid fa-location-dot mr-1"></i>Zona: {{zone}}</h5>
                <p class="mt-3 pl-3">{{description}}</p>
                <hr>
                <div class="d-flex pl-3">
                    <div class="col">
                        <p>Ambientes</p>
                        <p class="d-inline"><i class="fa-solid fa-bed mr-1"></i>{{environments}}</p>
                    </div>
                    <div class="col">
                        <p>Baños</p>
                        <p class="d-inline"><i class="fa-solid fa-shower mr-1"></i>{{toilets}}</p>
                    </div>
                    <div class="col">
                        <p>Superficie</p>
                        <p class="d-inline"><i class="fa-solid fa-square-xmark mr-1"></i>{{area}}</p>
                    </div>
                </div>
                <hr>
                <h2 class="mt-5 text-center" style="color: red;">Valor: $ {{price}}</h2>
            </div>
        </div>
    </div>
{% endblock %}