{% extends 'base.html' %}

{% block title %}
    Sobre mi
{% endblock %}

{% block about %}
<li class="nav-item active">
{% endblock %}

{% block content %}
<!--SECTION ABOUT US-->

    <section class="mb-n4" style="background: linear-gradient(110deg, #ffff75 60%, #f9db4a 60%);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center d-none d-lg-block" style="padding-top: 6rem;">
                    <img src="/media/index_image/about.jpg" width="450" height="300" style="margin-top: 3rem; border: 2px solid #b88900; border-radius: 50%;">
                </div>
                <div class="col-lg-6" style="padding-top: 9.1rem;">
                    <h1 class="reflect">Sobre mi...</h1>
                    
                    <div style="margin-top: 4rem;">
                        <hr>
                        <h4>¡Hola!</h4>
                        <h4>Soy Campo, Gaston Federico.</h4>
                        <h4>Estoy realizando el curso de backend Django para ampliar mis conocimientos en desarrollo web.</h4>
                    </div>
                    <hr>
                </div>
            </div>

            <div style="margin-top: 5rem;">
                <h1 class="ml-2">El Proyecto...</h1>
                <h3 class="ml-2">Decidi realizar el proyecto orientandolo a la venta y alquiler de propiedades por su facilidad para escalarlo a futuro.</h3>
            </div>
            <hr>
            <br>
            <br>
            <br>
    </section>

<!--SECTION ABOUT US-->
{% endblock %}